<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Войти - Noter</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
  <div th:insert="menu :: menu" class="menu"></div>
</head>
<body>
<div th:if="${param.error}">
  Неверное имя пользователя или пароль.
</div>
<form th:action="@{/login}" method="post" class="form">
  <div><label> Ваш email : <input type="text" name="username"/> </label></div>
  <div><label> Пароль: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Войти"/></div>
</form>
</body>
</html>